.feed-div {
    color: white !important;
}

.liked {
    color: rgb(223, 217, 217) !important;
}

.likes-count {
    color: black;
    font-size: 12px;
}

.category-div {
    float: right !important;
}

.blog-img {
    height: 28vh !important;
    object-fit: cover !important  ;
}

.blog-img-2 {
    border-radius: 200px;

}


.recent-col {
    margin-right: 192px;
}

.txt-recent {
    color: gray;
}



.cards {
    box-shadow: 2px 2px 15px gray !important;
    overflow: hidden !important;
    display: flex !important    ;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.wrapper{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 3rem;
}

  


@media only screen and (max-width: 768px) {
    .main-card-div {
       padding-top: 7%;
       padding-left: 0%;
       padding-right: 0%;
    }
    
    .wrapper{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 3rem;
    }
    


}
@media only screen and (max-width: 600px) {
    .wrapper{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 3rem;
    }
    

    .cards {
        width: 18rem !important;
    }


    @media only screen and (max-width: 320px) {
    .blog-main-page {
        columns: auto !important;
        margin: auto !important;
        padding: 2%;
    }
        .cards {
            width: 14rem !important;
        }
    }
}

.liked{
    color: red !important;
}

.like{
    color: rgb(209, 209, 209)!important;
}

.main-recent-div{}