.feed-div {
    color: white !important;
}

.liked {
    color: rgb(223, 217, 217) !important;
}

.likes-count {
    color: black;
    font-size: 12px;
}

.category-div {
    float: right !important;
}

.blog-img {
    height: 28vh !important;
    object-fit: cover !important;
}

.blog-img-2 {
    border-radius: 200px;

}



.recent-col {
    margin-right: 192px;
}

.txt-recent {
    color: gray;
}

.text-heading-blog {
    font-size: 17px !important;
}

.cards {
    box-shadow: 2px 2px 15px gray !important;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    width: 27rem;

}

.wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 3rem;
}


.cards {
    box-shadow: 2px 2px 15px gray !important;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    width: 27rem;



}

@media only screen and (max-width: 912px) {
    .cards {
        box-shadow: 2px 2px 15px gray !important;
        overflow: hidden !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        width: 19rem;
    
    
    
    }
}

@media only screen and (max-width: 828px) {
    .cards {
        box-shadow: 2px 2px 15px gray !important;
        overflow: hidden !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        width: 22rem;
    
    
    
    }
}


@media only screen and (max-width: 768px) {
    .main-card-div {
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .wrapper {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 3rem;
    }


    .cards {
        width: 19.5rem !important;
    }

}

@media only screen and (max-width: 667px) {
    .main-card-div {
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .wrapper {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 3rem;
    }


    .cards {
        width: 16.5rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 3rem;
    }


    .cards {
        width: 18rem !important;
    }


    @media only screen and (max-width: 320px) {
        .blog-main-page {
            columns: auto !important;
            margin: auto !important;
            padding: 2%;
        }

        .cards {

            width: 16rem !important;
        }
    }
}

@media only screen and (max-width: 320px) {
    .text-heading {
        font-size: 16px !important;
    }

    .cards {

        width: 13rem !important;
    }
}


.liked {
    color: red !important;
}

.like {
    color: rgb(209, 209, 209) !important;
}



















// Tech and for all

.slick-prev:before,
.slick-next:before {
    color: gray !important;
}


.blog-img-user {
    height: 40px !important;
    border-radius: 100px !important;
}

.gt {
    float: right !important;
}

.gt2 {
    float: right !important;
}

.column-user {
    float: left;

}

/* Clearfix (clear floats) */
.row-main::after {
    content: "";
    clear: both;
    display: table;
}

.card-detail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}

.card-btm {
    box-shadow: 2px 2px 15px gray !important;
    overflow: hidden !important;
   

}




@media only screen and (max-width: 820px) {
    .text-heading {
        font-size: 16px !important;
    }

    .cards-tech {
        height: 29rem;
    }
}

@media only screen and (max-width: 667px) {
    .text-heading {
        font-size: 16px !important;
    }

    .cards-tech {
        height: 24rem;
    }
}


@media only screen and (max-width: 428px) {
    .text-heading {
        font-size: 16px !important;
    }

    .cards-tech {

        text-align: left;
    }

}



@media only screen and (max-width: 320px) {
    .text-heading {
        font-size: 16px !important;
    }

    .cards-tech {
        height: 25rem;
    }
}


.card-txt {
    font-size: 14px;
}















// GameTech page




.css-et1ao3-MuiTypography-root{
font-size: 14px !important; 
}

.game-card{
    box-shadow: 2px 2px 15px gray !important;
    overflow: hidden !important;
}