.form-bg{
    height: 800px;
}

.blog-input{
background-color:transparent !important;
color: gray !important;
}

.name-label{
    color: gray!important;
font-family: Arial, Helvetica, sans-serif;
font-weight: 540;
}

.form-btn{
    border-color: gray !important;
}

.editor:active{
    border: none !important;
    color: gray;
    
}

.title-holder{
    
   
}

    
.ql-toolbar.ql-snow{
    background-color: gray;
}

.ql-editor{
 height: 300px !important;
}

.title-holder:focus {
    outline: none !important;
    box-shadow: 0 0 10px gray !important;
  }
  
  .quill > .ql-container > .ql-editor.ql-blank::before{

    color: gray !important;
} 
    
