
@import url('http://fonts.cdnfonts.com/css/artographie-black');

.navbar-main{
background-color: white!important;
}

.logo-name{
    color: rgb(57, 112, 214)  !important;
    font-family:  'Artographie Black', sans-serif;
    font-size: 35px !important;
    font-weight: 100;
}

.main-nav-links{
    color: rgb(57, 112, 214) !important;
    font-size: 17px;
}


.main-nav-links:after {
  
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    color: rgb(57, 112, 214) !important;
    font-size: 17px;
    border:solid transparent 0.1px;
    cursor: pointer !important ;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
  }


.main-nav-links:hover:after{
    border-bottom: solid 1px rgb(57, 112, 214) ;
   
    cursor: pointer !important;
    transition-duration: 800ms;
    transform: scaleX(1) !important;
    
}


.logout-btn{
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(57, 112, 214) !important;
    text-align: left !important;
    padding: 0%;
}


.logout-btn:focus{
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}
