.login-form{
    border: solid white 1px;

    color: gray;
    box-shadow:  2px 2px 15px gray !important; 

}

.createacc-btn{
    font-size: 15px !important;
    background-color:rgb(57, 112, 214) !important;
    color: white !important;
    border: white solid 1px !important;
  
}

.login-btn {
    
    font-size: 15px !important;
    background-color:rgb(57, 112, 214)!important;
    color: white !important;
    border: white solid 1px !important;

}

.login-lables {
    color: gray;
    font-size: 15px;
    font-weight: 470 !important;

}

.login-lables-heading{
    color:rgb(57, 112, 214)
}

.checkbox{

    color: gray !important;
}

.txt-heading{
    font-size: 45px!important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-space{

}

.form-control:focus{

    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
    border-color:  rgb(57, 112, 214) !important;
}




.login-div{
    margin-top:18rem !important;

}


@media only screen and (max-width: 428px) {

    .login-div{
        margin-top:5rem !important;
        margin-bottom:1rem !important;
    
    }
}