.login-form{
    background-color: transparent;
    border: solid white 1px;
    border-radius: 30px;
    color: white;
}

.createacc-btn{
    background-color: transparent !important;
    border: white solid 1px !important;
}

.login-btn {
    background-color: transparent !important;
    border: white solid 1px !important;
}