.login-form{
    border: solid white 1px;

    color: gray;
    box-shadow:  2px 2px 15px gray !important; 

}



.login-form-button{
    height: 36px;
}

.createacc-btn{
    height: 35px;
}

.login-lables-heading{
    color:#1890ff
}

.control-login{
    height: 40px;
}

.login-div{
    margin-bottom: 410px;
    margin-top:18rem !important;

}



@media only screen and (max-width: 428px) {

    .login-div{
        margin-top:5rem !important;
        margin-bottom:1rem !important;
    
    }

    .login-form-button{
        width: 150px;
    }
}

