.sign-form{
    border: solid white 1px;
    border-radius: 20px;
    color: gray;
    box-shadow:  2px 2px 15px gray !important; 
}

.contact-label-heading{
    color: #FC5C65 !important;
}

.signup-button{
    background-color:#FC5C65 !important ;
    border-color: #FC5C65 !important;
    border-radius: 20px !important;
}

.form-control:focus{

    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
    border-color: #FC5C65 !important;
}


.confirm-input{
    width: 260px;
}

.signup-form-div{
    margin-top: 200px;
    margin-bottom: 300px;
}

.signup-heading{
    color:#1890ff;
    font-size: 50px;
}


@media only screen and (max-width: 428px) {

    .signup-form-div{
        margin-top:0rem !important;
     
    
    }


}

